<%= content_tag :div, id: "item-#{item.id}", class: "tab" do %>
    <%= link_to "", item, method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
    <b><%= item.name %></b>
    <p class ="time-remaining">(<%= item.days_left %> days left)</p>
    <%= link_to "File", item.file.url, target:'_blank' if item.file? %>
<% end %>